<div class="container">
    <h2 class="text-center">Nasi projektanci</h2>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem; height: 35rem">
                <img src="https://img.freepik.com/darmowe-wektory/zdjecie-profilowe-avatar-kobieta-w-rundzie_18591-50375.jpg"
                    class="card-img-top" alt="Jadwiga Nowak">
                <div class="card-body">
                    <p class="card-text; text-center"><b>Jadwiga Nowak</b></p>
                    <p class="card-text">Ukończyła Architekturę Wnętrz na Uniwersytecie Warszawskim. Posiada 10-letnie
                        doświadczenie w branży. Specjalizuje się w projektowaniu kuchni.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem; height: 35rem">
                <img src="https://img.freepik.com/darmowe-wektory/kobieta-kobieta-avatar-charakter-wektor-ilustracja-projektu_24877-23102.jpg?size=338&ext=jpg"
                    class="card-img-top" alt="Helena Kowalska">
                <div class="card-body">
                    <p class="card-text; text-center"><b>Helena Kowalska</b></p>
                    <p class="card-text">Ukończyła Studium Projektowania Wnętrz w Londynie. Posiada 7-letnie
                        doświadczenie w branży. Jej pasją jest wystrój łazienek.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem; height: 35rem">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS8EHZfmrl-hiGqkaLvbmaJ7w8_r2GwB_m9g&usqp=CAU"
                    class="card-img-top" alt="Jan Dokładny">
                <div class="card-body">
                    <p class="card-text; text-center"><b>Jan Dokładny</b></p>
                    <p class="card-text">Absolwent Wydziału Architektury na Politechnice Wrocławskiej. Posiada
                        3-letnie doświadczenie w branży. Zajmuje się tworzeniem dokumentacji technicznej.</p>
                </div>
            </div>
        </div>
    </div>
</div>