<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="https://i.dobrzemieszkaj.pl/i/70/42/94/r3/1920/aranzacja-wnetrza-architekci-radza-jak-madrze-korzystac-z-trendow.jpg"
                alt="Modern interior" height="350">
        </div>
        <div class="col">
            <h1>Nowoczesne wnętrza</h1>
            <p>Jesteśmy pracownią projektującą wnętrza domów i obiektów publicznych. Stawiamy na nowoczesą elegancję,
                która nigdy nie wychodzi z mody. Z nami poczujesz się jak w domu!</p>
        </div>
    </div>
</div>