.author {
  margin-top: 100px;
  font-size: 20px;
  font-style: italic;
  text-align: end;
}

#form-page {
  font-family: Tahoma;
  padding: 5%;
  background-color: #1b1b32;
  color: #f5f6f7;
  min-width: 400px;
  width: 40vw;
  text-align: center;
}

.form-label {
  display: block;
  text-align: left;
  margin-top: 3%;
}

#registration-form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
}

fieldset:not(:last-of-type) {
  border-bottom: 3px solid #3b3b4f;
  padding-bottom: 5%;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
