.h1 {
  color: dark;
}

.employee {
  font-size: 23px;
  color: dark;
  font-weight: 700;
}

.exp {
  font-size: 18px;
}

.desc {
  margin-top: 20px;
  font-size: 25px;
  text-align: justify;
}

.author {
  margin-top: 300px;
  font-size: 20px;
  font-style: italic;
  text-align: end;
}
